
<audio src="Audio/Home-One.mp3" autoplay="autoplay" loop="loop"></audio>

<div class="audioback"><img ng-src= "Images/Audio-On.svg" class="homeaudio"></img></div>	

<div class="homeback">

<div class="homething">
	<div class="pokeback">
		<img ng-src= "Images/Logos/PokeBall-Button.png" class="pokeball"></img>
		</div>	
		
		<div class="pokehalo">

		<div class="menu">
			<div class="campaign">CAMPAIGN</div>
			<div ui-sref="pokearena.pokemon" class="arena">ARENA</div>
			<div ui-sref="pokedisco" class="disco">DISCO</div>
			<div class="credits">CREDITS</div>
		</div>
		</div>
	
</div>

<div class="andhome">+</div>

<img ng-src= "Images/Logos/PK-Logo.png" class="pokehome"></img>

<div class="friendhome">FRIENDS</div>

<img ng-src= "Images/Bloods.png" class="pokeblood"></img>
<img ng-src= "Images/Gifs/PikaDance.gif" class="pokedance"></img>
<img ng-src= "Images/Gifs/PokeDance.jpg" class="pokedances"></img>

<div class= "homefooter"> © Jnr Anderson 2017&nbsp;&nbsp;&nbsp;&nbsp;·&nbsp;&nbsp;&nbsp;&nbsp;
						Pokémonsters&nbsp;&nbsp;&nbsp;&nbsp;·&nbsp;&nbsp;&nbsp;&nbsp;
						Privacy&nbsp;&nbsp;&nbsp;&nbsp;·&nbsp;&nbsp;&nbsp;&nbsp;
						Terms&nbsp;&nbsp;&nbsp;&nbsp;·&nbsp;&nbsp;&nbsp;&nbsp;
						Donate&nbsp;&nbsp;&nbsp;&nbsp;·&nbsp;&nbsp;&nbsp;&nbsp;
						ID: AA19241204
						</div>
</div>