

<audio src="Audio/The End.mp3" autoplay="autoplay" loop="loop"></audio>

<div class="discofront"><div class="discothing"></div>

<div class="discoback"<div class= "disco-header">
		<div class = "disco-left-side">
		<span ui-sref="home" class="disco-top" type="button">HOME</span>
		<span class="disco-top" type="button">SIGN UP</span>
		<span class="disco-top" type="button">LOG IN</span>
</div></div>

<img ng-src= "Images/Logos/PK-Logo.png" class="pokehome"></img>
<div class="anddisco">+</div>
<div class="frienddisco">FRIENDS</div>
<div class="discotitle">DISCO</div>

<img ng-src= "Images/Gifs/PikaDance.gif" class="pokedance"></img>
<img ng-src= "Images/Gifs/PokeDance.jpg" class="pokedances"></img>

<div class= "discofooter"> © Jnr Anderson 2017&nbsp;&nbsp;&nbsp;&nbsp;·&nbsp;&nbsp;&nbsp;&nbsp;
						Pokémonsters&nbsp;&nbsp;&nbsp;&nbsp;·&nbsp;&nbsp;&nbsp;&nbsp;
						Privacy&nbsp;&nbsp;&nbsp;&nbsp;·&nbsp;&nbsp;&nbsp;&nbsp;
						Terms&nbsp;&nbsp;&nbsp;&nbsp;·&nbsp;&nbsp;&nbsp;&nbsp;
						Donate&nbsp;&nbsp;&nbsp;&nbsp;·&nbsp;&nbsp;&nbsp;&nbsp;
						ID: AA19241204
						</div>

</div>